torch~=2.0.1
smartdict
pandas~=1.4.4
scikit-learn~=1.5.1
termcolor
refconfig
oba
numpy~=1.23.2
unitok
transformers~=4.47.1
tqdm~=4.67.1
peft~=0.12.0
pigmento~=0.2.2
nltk~=3.7
Pillow
PyYAML~=6.0
requests
psutil~=5.9.2